CompileFlags:
  CompilationDatabase: build

  Add:
    # Target triple and CPU
    - --target=arm-none-eabi
    - -mcpu=cortex-m4
    - -mthumb

    - -isystem${HOME}/arm-gnu-toolchain/arm-gnu-toolchain-14.2.rel1-x86_64-arm-none-eabi/lib/gcc/arm-none-eabi/14.2.1/include
    - -isystem${HOME}/arm-gnu-toolchain/arm-gnu-toolchain-14.2.rel1-x86_64-arm-none-eabi/arm-none-eabi/include

    - -I${WORKSPACE_FOLDER}/Core/Inc/Facade/Platform

  # C++-only flags
  If:
    - PathMatch: [".*\\.cpp$", ".*\\.cc$", ".*\\.cxx$"]
      Add: [-std=gnu++20]

  # C-only flags
    - PathMatch: [".*\\.c$"]
      Add: [-std=gnu17]

